/* 清除浏览器默认样式 */
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul,ol,li{
    margin: 0;
    padding: 0;
    /* 去除列表的标志 */
    list-style: none;
}
input,button{
    outline: none;
    padding: 0;
    border: 1px solid #888;
}

a{
    text-decoration: none;
}
i,b,strong{
    font-style: normal;
    font-weight: normal;
}
/* 清除浏览器默认样式 */
